<!--============================
=            Banner            =
=============================-->

<section class="banner bg-banner-one overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Content Block -->
				<div class="block">
					
					<!-- Coundown Timer -->
					<!-- <div class="timer"></div> -->
					
					<h1>Morgan State University</h1>
					<h2>ASME Student Section</h2>
					<h6>Proudly Hosted by The Clarence M. Mitchell, Jr.
						School of Engineering </h6>
					<!-- Action Button -->
					 <hr>
					<h6>Our First General Body Meeting Recap</h6>
					<a href="/recap/" class="btn btn-white-md">Meeting Recap</a>
				</div>
			</div>
		</div>
	</div>
</section>
	
<!--====  End of Banner  ====-->