<!--===================================
=            Pricing Table            =
====================================-->

<section class="section pricing">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3>Understand <span class="alternate">Dues</span></h3>
                    <p><b><u>National and Section Dues are required to be a full member</u></b></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <!-- Pricing Item -->
                <div class="pricing-item featured">
                    <div class="pricing-heading">
                        <!-- Title -->
                        <div class="title">
                            <h6>National Dues</h6>
                        </div>
                        <!-- Price -->
                        <div class="price">
                            <h2>*18.75<span>$</span></h2>
                            <p>/Person /Year <br> *Use promo code: <b><u>SECTION</u></b></p>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <!-- <ul class="feature-list m-0 p-0">
                            <li><p><span class="fa fa-check-circle available"></span>1 Comfortable Seats</p></li>
                            <li><p><span class="fa fa-check-circle available"></span>Free Lunch and Coffee</p></li>
                            <li><p><span class="fa fa-check-circle available"></span>Certificate</p></li>
                            <li><p><span class="fa fa-times-circle unavailable"></span>Easy Access</p></li>
                        </ul> -->
                    </div>
                    <div class="pricing-footer text-center">
                        <a href="https://resources.asme.org/membership-promo" class="btn btn-transparent-md " target="_blank">Register for ASME National</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Pricing Item -->
                <div class="pricing-item featured">
                    <div class="pricing-heading">
                        <!-- Title -->
                        <div class="title">
                            <h6>Section Dues</h6>
                        </div>
                        <!-- Price -->
                        <div class="price">
                            <h2>15.00<span>$</span></h2>
                            <p>/Person / Semester <br> Will be made available soon</p>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <!-- <ul class="feature-list m-0 p-0">
                            <li><p><span class="fa fa-check-circle available"></span> Access to MSUASME General Body Meetings</p></li>
                            <li><p><span class="fa fa-check-circle available"></span>Free Lunch and Coffee</p></li>
                            <li><p><span class="fa fa-check-circle available"></span>Certificate</p></li>
                            <li><p><span class="fa fa-check-circle available"></span>Easy Access</p></li>
                        </ul> -->
                    </div> 
                    <div class="pricing-footer text-center">
                        <a href="#" class="btn btn-transparent-md disabled" target="_blank">Not available yet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====  End of Pricing Table  ====-->