
<!--================================
=            Page Title            =
=================================-->

<section class="page-title bg-title overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<div class="title">
					<h3>Did you miss the last GBM?</h3>
				</div>
				No worries, here's the recap!
                <br>
                Updated 10/2/2024
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<!-- Content 1 -->

<section class="section about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-6 align-self-center">
				<div class="content-block">
					<h2>Are you an <span class="alternate">ASME National Member?</span> Sign up here!</h2>
					<div class="description-one">
						<p>
                            Being a National member brings you one step closer to being a full member with all benefits!
						</p>
					</div>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://resources.asme.org/membership-promo" class= "btn btn-main-md" target="_blank">Register For ASME National</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 align-self-center">
				<div class="image-block bg-about">
					<img class="img-fluid" src="images/speakers/featured-speaker.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Content 2 -->

<section class="section about">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 align-self-center">
				<div class="image-block bg-about">
					<img class="img-fluid" src="images/speakers/featured-speaker.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-8 col-md-6 align-self-center">
				<div class="content-block">
					<h2>Are you looking to run for <span class="alternate">board positions?</span> Nomination information here.</h2>
					<div class="description-one">
						<p>
                            Learn more about the open board positions with the link below.  
						</p>
						<ul>
                            <li>Treasurer</li>
                            <li>[2] Historian (Social Media)</li>
                            <li>[2] Event Planner</li>
						</ul>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="/about/" class="btn btn-transparent-md">Learn About Nominations</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


<section class="section about">
	<!-- Content 3 -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-6 align-self-center">
				<div class="content-block">
					<h2>Interested is the upcoming <span class="alternate">competitions?</span></h2>
					<div class="description-one">
						<p>
                            Learn more and cast your vote for which competition you want here! (This vote will only count if you are an ASME National Member)
						</p>
					</div>

					<ul class="list-inline">
						<li class="list-inline-item row">
							<a href="https://efests.asme.org/competitions" class= "btn btn-main-md" target="_blank">ASME Competitions</a>
						</li>
						<!-- <li>
							<a href="" class= "btn btn-main-md" target="_blank">Competitions Voting</a>
						</li> -->
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 align-self-center">
				<div class="image-block bg-about">
					<img class="img-fluid" src="images/speakers/featured-speaker.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Content 4 -->

<!-- <section class="section about">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 align-self-center">
				<div class="image-block bg-about">
					<img class="img-fluid" src="images/speakers/featured-speaker.jpg" alt="">
				</div>
			</div>
			<div class="col-lg-8 col-md-6 align-self-center">
				<div class="content-block">
					<h2>We Have elected on our <span class="alternate">bylaws!</span></h2>
					<div class="description-one">
						<p>
                            The American Society of Mechanical Engineers promotes the art, science and practice of multidisciplinary engineering and allied sciences around the globe.
						</p>
					</div>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://docs.google.com/document/d/1kHsLoWA0t7zQTb-ziT84msSCgokmMd7vz-7iud-u_Q8/edit?usp=sharing" class="btn btn-transparent-md">Read Bylaws</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section> -->